<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StylersIn Policy</title>
</head>

<style>
    #main {
        margin: 100px 200px 20px 200px;
        line-height: 22px;
    }

    @media(max-width:992px) {
        #main {
            margin: 30px 40px 30px 40px;
        }

        #main div h1:first-child{
            font-size: 20px;
        }

        #main div h1:nth-child(2){
            font-size: 24px;
        }
    }
</style>

<body>
    <div id="main">
        <div style="text-align: center;line-height: 20px;">
            <h1>StylersIn Mobile Services Application</h1>
            <h1>Terms and Conditions</h1>
        </div>

        <br>
        <br>
        Any person (user) accessing the Stylersin Mobile Services Application is subject to, and agrees to, the
        Terms and Conditions set out in this legal notice. If the person (user) does not wish to be bound by these
        Terms and Conditions, the person (user) may not access, display, use, download and/or otherwise copy or
        distribute content obtained on this Application.

        <br>
        <br>
        <h3>Usage and copyright</h3>
        1. People (users) may view, copy, download to a local drive, print and distribute the content of
        this application, or any part thereof only for non-commercial informational or reference
        purposes.
        <br>
        2. People (users) who wish to use content from this Application for commercial purposes may
        only do so with the prior written permission obtained from the Application owner/ manager at
        telephone number +2347030065463 or Email mail@stylersin.com. Any reproduction and/or
        copy of the content or portion thereof for commercial purposes must include this copyright
        notice in its entirety: © STYLERSIN MOBILE SERVICES: ALL RIGHTS RESERVED.
        <br>
        3. All moral and any other rights of the Stylersin Mobile Services Application or other legal entity
        in respect of which content is contained on this Application not expressly granted are reserved.
        <br>
        <h3>Intellectual property rights</h3>
        1. All content, data and trademarks, including, but not limited to, software, technology, databases,
        know-how, text, graphics, icons, hyperlinks, private information, designs, programs,
        publications, products, processes, or ideas described on this Application may be the subject of
        other rights, including other intellectual property rights, which are the property of or licensed
        to the Stylersin Mobile Services Application, or a legal entity, and as such are protected from
        infringement by Nigerian legislation and international treaties and conventions.
        <br>
        2. Subject to the rights afforded to the person (user) herein, all other rights to all intellectual
        property on this Application are expressly reserved. By accessing data on this Application, the
        person (user) is not licensed or authorised.
        <br>
        <h3>Disclaimer</h3>
        1. The information on this Application is intended to provide general information about a
        particular subject or subjects and is not an exhaustive treatment of such subject(s).
        <br>
        2. It is the sole responsibility of the person (user) to satisfy itself prior to accessing this
        Application that the Application will meet the person's (user's) individual requirements and be
        compatible with the person (user's) hardware and/or software.
        <br>
        3. Information, ideas and opinions expressed on this Application should not be regarded as
        professional advice or the official opinion of the Stylersin Mobile Services as a legal entity in
        respect of which information, ideas and opinions are expressed on this Application. People
        (users) are encouraged to consult professional advice before taking any course of action related
        to information, ideas or opinions expressed on this Application.
        <br>
        4. The Stylersin Application makes no representations or warranties, implied or otherwise, that,
        among others, the content and technology available from this Application are free from errors or
        omissions, that the service will be 100% uninterrupted and error-free or will meet any particular
        criteria of performance or quality. This Application is provided 'as is'. The Stylersin Mobile
        Services expressly disclaims all implied warranties, including, without limitation, warranties of
        merchantability, title, fitness for a particular purpose, non-infringement, compatibility, security,
        and accuracy. It makes no express or implied representations or warranties regarding the content
        of the Application and that the Application has been compiled or supplied to meet the person's
        (user's) individual requirements. People (users) are encouraged to report any possible errors,
        malfunctions or offensive material by using the feedback link.
        The use of the content of this Application is at the person's (user’s) own risk. The person (user)
        assumes full responsibility and risk of loss resulting from the use of the content of this Application.
        The Stylersin Mobile Services or any of the legal entities in respect of which information are
        contained on this Application , or employees of the Stylersin Mobile Services or such entity, will
        not be liable for any special, indirect, incidental, consequential, or punitive damages or any other
        damages whatsoever, whether in an action of contract, statute, tort (including, without limitation,
        negligence), or otherwise, relating to the use of this information. If any of the foregoing is not fully
        enforceable for any reason, the remainder shall nonetheless continue to apply. Stylersin Mobile
        Services shall not be liable for any damage, loss or liability of whatsoever nature arising from the
        use or inability to use this site or the services or content provided from and through this
        Application. links in the Application lead to resources maintained by third parties over whom the
        Stylersin Mobile Services Application has no control. The Stylersin Mobile Services makes no
        representations or warranties as to the accuracy of, or any other aspect relating to, those resources.
        Any communications or data message that a person (user) sends to the Stylersin Mobile Services
        Application will be regarded as having been received by the Application when receipt is
        acknowledged in writing. If the person (user) does not receive a response within a reasonable
        period of time, the person (user) should follow it up with the application manager/owner. Stylersin
        Mobile Services shall not be liable for any failure to respond. 8. If a person (user) requires any
        information from the Stylersin Application regarding its services or the content of this Application,
        the feedback link could be used.
        <br>
        <h3>Security</h3>
        1. Protection: The Stylersin Mobile Services has in place reasonable commercial standards of
        technology and operational security to protect all information provided by people (users) from
        loss, misuse, alteration or destruction. All reasonable steps will be taken to secure a person's
        (user's) information. Authorised employees, who are responsible for the maintenance of any
        sensitive data submitted, are required to maintain the confidentiality of such data. The Terms
        and Conditions apply to all people (users) of Stylersin Mobile Services Application or public
        bodies that may receive such information from the Stylersin Mobile Services Application. It
        is expressly prohibited for any person (user), business or entity to gain or attempt to gain
        unauthorised access to any page on this Application, or to deliver or attempt to deliver any
        unauthorised, damaging or malicious code to this Application. If a person (user) delivers or
        attempts to deliver any unauthorised, damaging or malicious code to this Application or
        attempts to gain unauthorised access to any page on this Application, a criminal charge will
        be laid against that person (user), and, if the Stylersin Mobile Services or any public body
        should suffer any damage or loss, civil damages will be claimed.
        <br>
        2. Linkage and framing: The Stylersin Mobile Services welcomes third-party websites to link
        to the information that is hosted on this Apllication. It is expressly prohibited for any person
        (user), business, entity or website to frame any page on this Application, including the home
        page, in any way whatsoever,without prior written approval of the Stylersin Mobile Services.
        <br>
        3. Links to third-party websites: The Stylersin Mobile Services Application may provide links
        to other websites only as a convenience. The inclusion of any link does not imply the Stylersin
        Mobile Services endorsement of such sites. Linked websites or pages are not subject to the
        control of the Stylersin Mobile Services. The Stylersin Mobile Services is not responsible or
        liable, directly or indirectly, in any way for the content, use, or inability to use or access any
        linked websites or any links contained in a linked website.
        <br>
        <h3>Privacy</h3>
        1. Introduction: The privacy statement applies to the Stylersin Mobile Services and any legal
        entity that controls, verifies or uses information that may be collected through this Application.
        A person (user) may visit this Application without providing any personal information. A
        person (user), however, agrees to the use of such data in accordance with this privacy statement.
        Please note that this Application may contain links to other sites that are not being governed
        by this privacy statement. If a person (user) has any questions or concerns regarding this
        privacy statement or the person's (user’s) privacy while using this site, the feedback link could
        be used.
        <br>
        2. Cookies: The Stylersin Application may use cookies (small text files stored in a user’s
        browser) or web beacons (electronic images that allow this site to count users who have
        accessed a particular page and to access certain cookies) to ensure that the Application is well
        managed and to facilitate improvement of the Application. The Stylersin Mobile Services or
        its service-provider(s) may use cookies to collect aggregate data. The Stylersin Mobile Services
        may use such devices from time to time to track information on its systems and identify
        categories of persons (users) by items such as IP addresses, domains, browser types and pages
        visited. The App administrator uses the information to analyse the number of people (users) of
        different areas of the Application and to ensure that this Application is serving as a useful and
        effective information source. Neither cookies nor web beacons collect personal information
        such as the person's (user’s) name or email address. A person (user) may reject cookies as most
        browsers permit individuals to decline cookies. Under certain circumstances, people(users)
        may be denied access to some parts of this Application if their browsers are set to decline
        cookies.
        <br>
        3. Personal information use: Personal information is used only for limited purposes, e.g. when
        a person (user) registers with the Application to request future communications about Stylersin
        Mobile Services areas of interest. The Stylersin Mobile Services may use this information to
        create a personal profile to customise its response to further requests or enquiries and to
        improve the Application. When a person (user) chooses to register online for a Stylersin-hosted
        event, the Stylersin Application will use the information that the person (user) submits to
        respond to the person (user). In addition, the administrator may, when necessary, use a person's
        (user’s) information for various site or app-related tasks. The Stylersin Mobile Services will
        ensure that any marketing activities comply with applicable laws and that it is implemented
        with procedures to obtain the necessary consent before sending the person's (user’s) email
        containing information about the Stylersin Mobile Services’ services. The person (user) may
        at any time request that the Stylersin Mobile Services discontinues sending such material to
        the person (user) by using the feedback link.
        <br>
        4. Disclosure to third parties: Although the Stylersin Mobile Services may provide person's
        (user's) information to service providers who handle information on its behalf, it will usually
        not share the information with third parties or other public entities for secondary or unrelated
        purposes, unless otherwise disclosed at the point of collection. Personal information may be
        transmitted internationally through the Stylersin Mobile Services Application or to third parties
        for the purposes identified above. This will not include transfer to countries without data
        protection rules similar to those in effect in the person's (user’s) country of residence. By
        providing information to the Stylersin Mobile Services Application, the person (user) is
        consenting to such transfers. Where appropriate, personal information may be disclosed to law
        enforcement, regulatory or other government agencies, or third parties where necessary or
        desirable to comply with legal or regulatory obligations or requests or for the purposes
        identified above.
        <br>
        5. Access to personal information: If personal information has been submitted to this
        Application, people (users) who wish to review their personal information may do so by
        requesting such a review through the feedback link. People (users) will then be able to access
        their user profile, correct and update their details or unsubscribe at any time. People (users)
        who encounter any problem accessing their profiles, or would like to request a copy of their
        personal information, should contact the App administrator using the feedback link. In all cases
        the Stylersin Mobile Services will treat requests to access information or change information
        in accordance with applicable legal requirements.
        <br>
        6. No agreement: Nothing contained herein creates or is intended to create a contract or
        agreement between the Stylersin Mobile Services and any person (user) visiting the
        Application.
        <br>
        7. Children's privacy protection: The Stylersin Mobile Services recognises the importance of
        protecting children's privacy in the interactive online world.
        Severability
        These Terms and Conditions of use constitute the entire professional or other relationship
        between the Stylersin Mobile Services and the person (user) using this Application. Any failure
        by the Stylersin Mobile Services to exercise or enforce any right or provision of these Terms
        and Conditions of use shall in no way constitute a waiver of such right or provision. If any term
        or condition of the use of this Application is not fully enforceable or valid for any reason, such
        term(s) or condition(s) shall be severable from the remaining Terms and Conditions. The
        remaining Terms and Conditions shall not be affected by such unenforceability or invalidity
        and shall remain enforceable and applicable
        Updating of these Terms and Conditions
        The Stylersin Mobile Services reserves the right to change, modify, add to or remove portions
        or the whole of these Terms and Conditions of use from time to time. Changes to these Terms
        and Conditions of use will take effect upon such changes being posted on this Application. It
        is the person's (user’s) obligation to periodically check these Terms and Conditions of use on
        this Application for changes or updates. The person's (user’s) continued use of this Application
        following the posting of changes or updates will be considered notice of the person's (user’s)
        acceptance to abide and be bound by these Terms and Conditions of use, including such
        changes or updates.
        <br>
        <h3>Information about Application and owner</h3>
        1. The full name and legal status of the Application owner is: Stylersin Mobile Services (Nigeria),
        a Registered Business Name with Corporate Affairs Commission of the Federal Republic of
        Nigeria (BN2977979), whose general nature of business is Home-Service Delivery of Beauty
        and Salon Services, Beauty and Salon Services.
        <br>
        2. The name of this App is Stylersin
        <br>
        3. Contact details of Application owner: A16 GOSHEN ESTATE, ENUGU, ENUGU STATE,
        NIGERIA . Tel No: +2347030065463, Email: mail@stylersin.com
        <br>
        <h3>Declaration</h3>
        1. I have read and understood the Terms and Conditions of using the Stylersin Mobile Services
        Application.
        <br>
        2. I will take personal responsibility and accountability for protecting my user and system
        credentials of the Stylersin Mobile Services Application.
        <br>
        3. I will ensure that personal information under my control and in my possession is protected.
        <br>
        4. I undertake to use the Stylersin Mobile Services Application in the manner and for the sole
        intended purpose. I will therefore not share my password with any individual.
        <br>
        5. I will immediately report any information security incident and actively take part in resolving
        any incidents affecting my activities and outputs to: mail@stylersin.com / +2347030065463.
        <br>
        6. I understand that the National Information Technology Development Agency (NITDA)
        reserves the right to monitor the use of information resources to ensure the protection of the
        network, information and information assets and that failure to comply with these Terms and
        Conditions will necessitate actions to be instituted against me.
    </div>
</body>

</html>